/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/4
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/5
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/6
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/7
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/8
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/11
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/16
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/12
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/13
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-hl7h2tvtmzhwl/virtualMachines/15
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachines/manager-GQYTEZRQMNQTCLJVMU4DCLJUHA
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/metadata-pqolgb74jbbdb/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/metadata-pqolgb74jbbdb/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-in3grkzdqfgxt/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-in3grkzdqfgxt/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-in3grkzdqfgxt/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-in3grkzdqfgxt/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dzyenbodorfnl/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dzyenbodorfnl/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dzyenbodorfnl/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dzyenbodorfnl/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/19
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dbu35y37ijbyp/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/4
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/5
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/6
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/7
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/8
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/9
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/10
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/11
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dbu35y37ijbyp/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/12
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/13
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dbu35y37ijbyp/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/14
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-dbu35y37ijbyp/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/15
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/16
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/17
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-l5rx5h7em5htz/virtualMachines/18
