/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/3
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/4
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/8
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/5
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/6
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/client-3yur4y5ebrbah/virtualMachines/7
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachines/manager-GQYTEZRQMNQTCLJVMU4DCLJUHA
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/metadata-oyusjhec4bhuv/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/metadata-oyusjhec4bhuv/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-tliqzaswc5bzl/virtualMachines/0
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-tliqzaswc5bzl/virtualMachines/1
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-tliqzaswc5bzl/virtualMachines/2
/subscriptions/a63d953f-bbf4-48ed-be50-865b9e512436/resourceGroups/scc-rg4/providers/Microsoft.Compute/virtualMachineScaleSets/storage-tliqzaswc5bzl/virtualMachines/3
